/*============= MEDIA QUERIES =============*/

@media (min-width: 1200px) {
  /* #home {
    margin-left: 4em;
  } */

  .order {
    text-align: right;
  }
}
/* Devices under 992px (lg) */
@media (max-width: 991.98px) {

   .catchPhrase {
     font-size: 3em;
   }

   .image1{
     display: none;
   }

   .image2{
     display: block;
   }

   .order {
      text-align: left;
      margin-top: 2em;
   }



}

/* Devices under 768px (md) */
@media (max-width: 767.98px) {

   .catchPhrase {
     font-size: 2.5em;
   }

}

/* Devices under 576px (sm) */
@media (max-width: 575.98px) {
   .navbar {
     padding: .5rem 1rem;
   }
   .catchPhrase {
     font-size: 2.1em;
   }

}


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/
